*{
    padding: 0;
}
#noticia1{
    border-radius: 10px;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#noticia2{
    border-radius: 10px;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#noticia3{
    border-radius: 10px;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.row p,h4{
    display: block;
    text-align: center;     
    margin: auto;
    padding-top: 30px;
}